<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>About</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos optio amet
        magni possimus cum repudiandae, commodi aliquid quibusdam minus ipsum
        libero facere delectus ut, harum fugit aperiam ipsa natus debitis? Quae
        dignissimos neque deserunt, architecto aliquid ullam illo dolores
        impedit quasi quia ut iure, sapiente quidem reiciendis consequuntur,
        ducimus tenetur reprehenderit veritatis cupiditate! Eveniet voluptate
        quam placeat harum, provident at? Architecto delectus dolorum quisquam
        placeat, nihil atque dolorem voluptatum, consequatur totam, cumque
        reiciendis necessitatibus qui natus autem laudantium? Quasi perspiciatis
        rerum est illo voluptatibus eveniet ab et aspernatur atque quibusdam.
        Inventore eveniet, optio ut sequi nesciunt velit beatae amet hic
        consequatur, exercitationem assumenda. Voluptatibus, earum. Earum,
        eligendi deleniti ea quis et dicta nemo incidunt repellendus doloremque
        eos exercitationem, alias sequi.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
